#head {
    display: none;
}

#body {
    display: block;
    margin: 8px;
}

#form {
    display: block;
    margin-top: 0em;
}

.wrap {
    margin-block-end: 1em;
}

#p {
    margin: 0px;
}

#center {
    text-align: -webkit-center;
}

#table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: gray;
    font-variant: normal;
    border: "0";
    width: 90%;
}

#tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#td {
    display: table-cell;
    vertical-align: inherit;
}